<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        autoReload="true">
    <variable name="FilePath" value="C:\Temp\SummerInternshipProgram\Logs"/>
    <targets>
      <target name="logfile" xsi:type="File"
                     fileName="${FilePath}/General/${date:format=yyyy-MM-dd}/${date:format=hh tt}.log"
                     layout="${longdate} ${level:uppercase=true} ${message}"/>
      <target name="logError" xsi:type="File"
                    fileName="${FilePath}/Error/${date:format=yyyy-MM-dd}/${date:format=hh tt}.log"
                    layout="${longdate} ${level:uppercase=true} ${message}"/>
      <target name="logTrace" xsi:type="File"
                      fileName="${FilePath}/Trace
                    /${date:format=yyyy-MM-dd}/${date:format=hh tt}.log"
                      layout="${longdate} ${level:uppercase=true} ${message}"/>
      <target name="logDebug" xsi:type="File"
                      fileName="${FilePath}/Debug
                    /${date:format=yyyy-MM-dd}/${date:format=hh tt}.log"
                      layout="${longdate} ${level:uppercase=true} ${message}"/>

    </targets>
    <rules>
      <logger name="*" minlevel="Information" writeTo="logfile" />
      <logger name="*" level="Error" writeTo="logError" enabled="true" />
      <logger name="*" level="Trace" writeTo="logTrace,logDebug" enabled="true"/>

    </rules>
  </nlog>

</configuration>